[[ $- != *i* ]] && return

# bash
set -o vi
bind '"\e[A": history-search-backward'
bind '"\e[B": history-search-forward'

# color
RED='\001\033[31m\002'
GREEN='\001\033[32m\002'
YELLOW='\001\033[33m\002'
BLUE='\001\033[34m\002'
MAGENTA='\001\033[35m\002'
CYAN='\001\033[36m\002'
WHITE='\001\033[37m\002'
GRAY='\001\033[90m\002'
RESET='\001\033[0m\002'
BOLD='\001\033[1m\002'
NEWLINE='\n'
HOLD='\001\002'

{{ if eq .chezmoi.username "sunny" -}}
# banner
printf "${GREEN}"
cat ~/.banner
printf "${RESET}"

{{ end -}}
# prompt
__prompt_start() {
	RETURN_CODE=$?
	printf "${HOLD}"
	printf "${RESET}"
	printf "${BOLD}"
	if test "${RETURN_CODE}" -ne 0; then
		printf "${RED}"
	else
		printf "${GRAY}"
	fi
	printf "%s${NEWLINE}${HOLD}" '$'
}
__prompt_cwd() {
	printf "${BLUE}in "
	if test -L "${PWD}"; then
		printf "${CYAN}"
	elif test "$(id -u)" -eq "$(stat -c %u "${PWD}")"; then
		printf "${GREEN}"
	elif test "$(id -g)" -eq "$(stat -c %g "${PWD}")"; then
		printf "${YELLOW}"
	else
		printf "${RED}"
	fi
	printf '%s' "$(dirs +0)"
}
__prompt_user() {
	printf " ${BLUE}by "
	if test "$(id -u)" -eq 0; then
		printf "${RED}"
	else
		printf "${GREEN}"
	fi
	printf '%s' "${USER}"
}
__prompt_host() {
	printf " ${BLUE}at ${CYAN}${HOSTNAME}"
}
__prompt_git() {
	if git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
		printf " ${BLUE}git "
		GIT_BRANCH="$(git branch --show-current)"
		if test -z "$GIT_BRANCH"; then
			GIT_BRANCH="$(git rev-parse --short HEAD)"
		fi
		if test "$(git status -s | wc -l)" -eq 0; then
			printf "${GREEN}"
		else
			printf "${RED}"
		fi
		printf '%s' "${GIT_BRANCH}"
	fi
}
__prompt_env() {
	ENVS=""
	if test -n "$TMUX"; then
		ENVS="$ENVS,tmux:$(tmux display-message -p "#S")"
	fi
	if test -n "$CHEZMOI"; then
		ENVS="$ENVS,chezmoi"
	fi
	if test -n "$lf"; then
		ENVS="$ENVS,lf"
	fi
	if test -n "$GHPROXY"; then
		ENVS="$ENVS,ghproxy"
	fi
	if test -n "$ENVS"; then
		printf " ${BLUE}with ${MAGENTA}%s" "${ENVS:1}"
	fi
}
__prompt_end() {
	printf "${HOLD}"
	printf "${NEWLINE}${BLUE}do ${RESET}"
	printf "${HOLD}"
}
PS1='$(__prompt_start)$(__prompt_cwd)$(__prompt_user)$(__prompt_host)$(__prompt_git)$(__prompt_env)$(__prompt_end)'

alias hm="chezmoi"
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias fm="lf"
