{{ if eq (printf "%.4s" .chezmoi.hostname) "vbox" -}}
xrandr --newmode "1600x900_60.00"  118.25  1600 1696 1856 2112  900 903 908 934 -hsync +vsync
xrandr --addmode Virtual-1 1600x900_60.00
xrandr --output Virtual-1 --mode 1600x900_60.00
{{ else if eq .chezmoi.hostname "omen" -}}
xrandr --output eDP-1 --mode 1920x1080_144.00
{{ end -}}
xrdb ~/.Xresources
feh --bg-fill ~/.background
xset dpms 0 0 0

picom &
clipit &
dunst &
xautolock -time 10 -locker 'xset +dpms dpms 5 5 5; i3lock -n -c "{{ .base16.color00 }}"; xset dpms 0 0 0' -notify 10 -notifier 'notify-send -t 10000 "lock screen soon"' &

exec awesome
