[[ $- != *i* ]] && return

# bash
set -o vi
bind '"\e[A": history-search-backward'
bind '"\e[B": history-search-forward'

# color
RED='\001\033[31m\002'
GREEN='\001\033[32m\002'
YELLOW='\001\033[33m\002'
BLUE='\001\033[34m\002'
MAGENTA='\001\033[35m\002'
CYAN='\001\033[36m\002'
WHITE='\001\033[37m\002'
GRAY='\001\033[90m\002'
RESET='\001\033[0m\002'
BOLD='\001\033[1m\002'
NEWLINE='\n'
HOLD='\001\002'

{{ if eq .chezmoi.username "sunny" -}}
# banner
printf "${GREEN}"
cat ~/.banner
printf "${RESET}"

{{ end -}}
# prompt
__prompt_start() {
	RETURN_CODE=$?
	printf "${HOLD}"
	printf "${RESET}"
	printf "${BOLD}"
	if test "${RETURN_CODE}" -ne 0; then
		printf "${BLUE}< ${RED}${RETURN_CODE}"
	fi
	printf "${NEWLINE}${HOLD}"
}
__prompt_user() {
	printf "${BLUE}\$ "
	if test "$(id -u)" -eq 0; then
		printf "${RED}"
	else
		printf "${CYAN}"
	fi
	printf '%s' "${USER}"
}
__prompt_host() {
	printf " ${BLUE}@ ${CYAN}${HOSTNAME}"
}
__prompt_cwd() {
	printf " ${BLUE}# "
	if test "$(stat -c %u "$(pwd -P)")" -eq 0; then
		printf "${RED}"
	else
		printf "${CYAN}"
	fi
	printf '%s' "$(dirs +0)"
	if git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
		GIT_BRANCH="$(git branch --show-current)"
		if test -z "$GIT_BRANCH"; then
			GIT_BRANCH="$(git rev-parse --short HEAD)"
		fi
		if test "$(git status -s | wc -l)" -eq 0; then
			printf "${GREEN}"
		else
			printf "${RED}"
		fi
		printf ' [%s]' "${GIT_BRANCH}"
	fi
}
__prompt_env() {
	ENVS=""
	if test -n "$TMUX"; then
		ENVS="$ENVS,tmux:$(tmux display-message -p "#S")"
	fi
	if test -n "$CHEZMOI"; then
		ENVS="$ENVS,chezmoi"
	fi
	if test -n "$lf"; then
		ENVS="$ENVS,lf"
	fi
	if test -n "$GHPROXY"; then
		ENVS="$ENVS,ghproxy"
	fi
	if test -n "$ENVS"; then
		printf " ${BLUE}& ${MAGENTA}%s" "${ENVS:1}"
	fi
}
__prompt_end() {
	printf "${HOLD}"
	printf "${NEWLINE}${BLUE}> ${RESET}"
	printf "${HOLD}"
}
PS1='$(__prompt_start)$(__prompt_user)$(__prompt_host)$(__prompt_cwd)$(__prompt_env)$(__prompt_end)'

alias e="nvim"
alias hm="chezmoi"
alias hmg="chezmoi cd"
alias hms="chezmoi status"
alias hme="chezmoi edit --apply"
alias hma="chezmoi add"
alias hmaa="chezmoi re-add"
alias hmd="chezmoi destroy"
alias hmx="chezmoi apply"
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias fm="lf"
alias gits="git status"
alias gita="git add"
alias gitaa="git add --all"
alias gitc="git commit"
alias gitcm="git commit -m"
alias gitp="git clone"
alias gitp1="git clone --depth 1"
alias gitpl="git push"
alias gitpr="git pull"
alias lg="lazygit"
alias cm="podman"
mpvfd() {
	fd "$@" | sort -R | xargs -r -d "\n" mpv
}
music() {
	fd -e mp3 "" ~/Music | sort -R | xargs -r -d "\n" mpv
}
microsoft-edge-unsafe() {
	microsoft-edge --proxy-server="127.0.0.1:${1:-8080}" --ignore-certificate-errors
}
m3u82mp4() {
	ffmpeg -i "$1" -c copy "$2.mp4"
}
