#!/bin/sh

{{ output (print .chezmoi.sourceDir "/script/hash-repo.sh") | trim | comment "# " }}

set -e

cd "${CHEZMOI_SOURCE_DIR}"

if test "$(git status -s | wc -l)" -ne "0"; then
	echo
	echo "> push repo changes"
	git add --all
	git commit -m "add omen host"
	git remote set-url origin git@gitee.com:sunn4room/dotfiles.git
	git push origin main
fi

