#!/bin/sh

{{ include "flake.nix" | sha256sum | comment "# " }}
{{ include "flake.lock" | sha256sum | comment "# " }}
{{ output (print .chezmoi.sourceDir "/script/hash-nixos.sh") .chezmoi.hostname | trim | comment "# " }}

set -e

echo
echo "> rebuild nixos"
sudo nixos-rebuild switch \
	--flake "{{ .chezmoi.sourceDir }}#{{ .chezmoi.hostname }}" \
	--option substituters "https://mirrors.tuna.tsinghua.edu.cn/nix-channels/store https://cache.nixos.org"

