return {
  "sunn4room/common.nvim",
  opts = {
    colors = {
      "{{ .base16.color00 }}",
      "{{ .base16.color01 }}",
      "{{ .base16.color02 }}",
      "{{ .base16.color03 }}",
      "{{ .base16.color04 }}",
      "{{ .base16.color05 }}",
      "{{ .base16.color06 }}",
      "{{ .base16.color07 }}",
      "{{ .base16.color10 }}",
      "{{ .base16.color11 }}",
      "{{ .base16.color12 }}",
      "{{ .base16.color13 }}",
      "{{ .base16.color14 }}",
      "{{ .base16.color15 }}",
      "{{ .base16.color16 }}",
      "{{ .base16.color17 }}",
    },
    globals = {
      terminal_color_0 = "{{ .base16.color00 }}",
      terminal_color_1 = "{{ .base16.color01 }}",
      terminal_color_2 = "{{ .base16.color02 }}",
      terminal_color_3 = "{{ .base16.color03 }}",
      terminal_color_4 = "{{ .base16.color04 }}",
      terminal_color_5 = "{{ .base16.color05 }}",
      terminal_color_6 = "{{ .base16.color06 }}",
      terminal_color_7 = "{{ .base16.color07 }}",
      terminal_color_8 = "{{ .base16.color10 }}",
      terminal_color_9 = "{{ .base16.color11 }}",
      terminal_color_10 = "{{ .base16.color12 }}",
      terminal_color_11 = "{{ .base16.color13 }}",
      terminal_color_12 = "{{ .base16.color14 }}",
      terminal_color_13 = "{{ .base16.color15 }}",
      terminal_color_14 = "{{ .base16.color16 }}",
      terminal_color_15 = "{{ .base16.color17 }}",
    },
  },
}
