[urgency_low]
    background = "{{ .base16.color10 }}"
    foreground = "{{ .base16.color17 }}"
    frame_color = "{{ .base16.color14 }}"
    timeout = 5

[urgency_normal]
    background = "{{ .base16.color10 }}"
    foreground = "{{ .base16.color17 }}"
    frame_color = "{{ .base16.color16 }}"
    timeout = 10

[urgency_critical]
    background = "{{ .base16.color10 }}"
    foreground = "{{ .base16.color17 }}"
    frame_color = "{{ .base16.color11 }}"
    timeout = 0
