[urgency_low]
    background = "{{ .gui.color10 }}"
    foreground = "{{ .gui.color17 }}"
    frame_color = "{{ .gui.color14 }}"
    timeout = 5

[urgency_normal]
    background = "{{ .gui.color10 }}"
    foreground = "{{ .gui.color17 }}"
    frame_color = "{{ .gui.color16 }}"
    timeout = 10

[urgency_critical]
    background = "{{ .gui.color10 }}"
    foreground = "{{ .gui.color17 }}"
    frame_color = "{{ .gui.color11 }}"
    timeout = 0
