[colors.primary]
background = "{{ .gui.color00 }}"
foreground = "{{ .gui.color07 }}"

[colors.cursor]
cursor     = "{{ .gui.color07 }}"
text       = "{{ .gui.color00 }}"

[colors.selection]
background = "{{ .gui.color06 }}"
text       = "{{ .gui.color00 }}"

[colors.normal]
black      = "{{ .gui.color00 }}"
red        = "{{ .gui.color01 }}"
green      = "{{ .gui.color02 }}"
yellow     = "{{ .gui.color03 }}"
blue       = "{{ .gui.color04 }}"
magenta    = "{{ .gui.color05 }}"
cyan       = "{{ .gui.color06 }}"
white      = "{{ .gui.color07 }}"

[colors.bright]
black      = "{{ .gui.color10 }}"
red        = "{{ .gui.color11 }}"
green      = "{{ .gui.color12 }}"
yellow     = "{{ .gui.color13 }}"
blue       = "{{ .gui.color14 }}"
magenta    = "{{ .gui.color15 }}"
cyan       = "{{ .gui.color16 }}"
white      = "{{ .gui.color17 }}"
