return {
  {
    "common.nvim",
    url = "https://gitee.com/sunn4room/common.nvim.git",
    opts = {
      options = {
        copyindent = true,
        expandtab = false,
        foldenable = false,
        hidden = true,
        ignorecase = true,
        infercase = true,
        list = true,
        listchars = {
          tab = "<-",
          trail = "~",
          extends = ">",
          precedes = "<",
        },
        number = false,
        scrolloff = 2,
        shiftwidth = 4,
        showtabline = 2,
        sidescroll = 1,
        sidescrolloff = 4,
        smartcase = true,
        softtabstop = 4,
        splitbelow = true,
        splitright = true,
        tabstop = 4,
        wrap = false,
        cmdheight = 1,
        virtualedit = "onemore",
        termguicolors = function()
          return vim.fn.has("gui_running") ~= 0
        end,
        guifont = "monospace:h11",
      },
      globals = {
        neovide_cursor_vfx_mode = "railgun",
        neovide_cursor_vfx_particle_lifetime = 3,
        neovide_cursor_vfx_particle_density = 10,
        neovide_scroll_animation_length = 0,
        neovide_floating_shadow = false,
      },
      mappings = {
        n = {
          yb = "<cmd>enew<cr>",
          yh = "<cmd>aboveleft vs<cr>",
          yl = "<cmd>belowright vs<cr>",
          yj = "<cmd>belowright sp<cr>",
          yk = "<cmd>aboveleft sp<cr>",
          yH = "<cmd>topleft vs<cr>",
          yL = "<cmd>botright vs<cr>",
          yJ = "<cmd>botright sp<cr>",
          yK = "<cmd>topleft sp<cr>",
          yt = "<cmd>tabnew<cr>",
          yT = "<cmd>tab sb<cr><cmd>tabp<cr><cmd>wincmd q<cr><cmd>tabn<cr>",
          yx = "<cmd>botright split term://bash<cr>i",
          yX = "<cmd>tabnew term://bash<cr>i",
          db = "<cmd>bd<cr>",
          dw = "<cmd>q<cr>",
          dt = "<cmd>tabclose<cr>",
          dv = "<cmd>qall<cr>",
          dV = "<cmd>qall!<cr>",
          dh = "<cmd>noh<cr>",
          cb = "<cmd>w<cr>",
          ch = "<c-w><<c-w><",
          cl = "<c-w>><c-w>>",
          cj = "<c-w>+",
          ck = "<c-w>-",
          gb = "<cmd>bn<cr>",
          gB = "<cmd>bp<cr>",
          gh = "<C-w>h",
          gl = "<C-w>l",
          gj = "<C-w>j",
          gk = "<C-w>k",
          gt = "<cmd>tabn<cr>",
          gT = "<cmd>tabp<cr>",
          gu = "<c-o>",
          gU = "<c-i>",
          gn = "<cmd>cn<cr>",
          gN = "<cmd>cp<cr>",
          dn = "<cmd>ccl<cr>",
          U = "<c-r>",
          ["<c-j>"] = "<c-e>",
          ["<c-k>"] = "<c-y>",
          ["<c-h>"] = "2zh",
          ["<c-l>"] = "2zl",
        },
        v = {
          ["<c-c>"] = "\"+y",
          ["<c-x>"] = "\"+d",
        },
        i = {
          ["<c-v>"] = "<c-r>+",
        },
        c = {
          ["<c-v>"] = "<c-r>+",
        },
        nxo = {
          H = "^",
          L = "g_",
        },
      },
      highlights = {
        "{{ .base16.color00 }}",
        "{{ .base16.color01 }}",
        "{{ .base16.color02 }}",
        "{{ .base16.color03 }}",
        "{{ .base16.color04 }}",
        "{{ .base16.color05 }}",
        "{{ .base16.color06 }}",
        "{{ .base16.color07 }}",
        "{{ .base16.color10 }}",
        "{{ .base16.color11 }}",
        "{{ .base16.color12 }}",
        "{{ .base16.color13 }}",
        "{{ .base16.color14 }}",
        "{{ .base16.color15 }}",
        "{{ .base16.color16 }}",
        "{{ .base16.color17 }}",
        Normal = { fg = 7, bg = 0 },
        NormalNC = "Normal",
        NormalFloat = "Normal",
        Conceal = { fg = 4, underline = true },
        NonText = { fg = 8 },
        SpecialKey = "NonText",
        Whitespace = "NonText",
        Visual = { bg = 8 },
        Search = "Visual",
        CurSearch = "Search",
        IncSearch = "Search",
        Substitute = "Search",
        MatchParen = { underline = true },
        MsgArea = "Normal",
        MoreMsg = { fg = 4 },
        ModeMsg = { fg = 4 },
        WarningMsg = { fg = 11, bold = true },
        ErrorMsg = { fg = 9, bold = true },
        Question = { fg = 13 },
        Title = { fg = 13 },
        Cursor = { link = "Normal", reverse = true },
        ColorColumn = { bg = 8 },
        CursorColumn = { bg = 8 },
        CursorLine = { bg = 8 },
        QuickFixLine = "CursorLine",
        WinSeparator = { fg = 8, bg = 8 },
        StatusLine = { fg = 15, bg = 8 },
        StatusLineNC = { fg = 12, bg = 8 },
        TabLine = "StatusLineNC",
        TabLineSel = "StatusLine",
        TabLineFill = "StatusLine",
        FloatBorder = { fg = 7, bg = 0, bold = true },
        FloatTitle = "FloatBorder",
        DiffAdd = { fg = 10, bg = 8, bold = true },
        DiffDelete = { fg = 9, bg = 8, bold = true },
        DiffChange = { bg = 8 },
        DiffText = { fg = 11, bg = 8, bold = true },
        FoldColumn = { fg = 4, bg = 8 },
        Folded = "FoldColumn",
        CursorLineFold = "FoldColumn",
        SignColumn = { fg = 4, bg = 8 },
        CursorLineSign = "SignColumn",
        LineNr = { fg = 4, bg = 8 },
        LineNrAbove = "LineNr",
        LineNrBelow = "LineNr",
        CursorLineNr = "LineNr",
        Pmenu = { fg = 7, bg = 0 },
        PmenuSel = { fg = 15, bg = 8, bold = true },
        PmenuKind = "Pmenu",
        PmenuKindSel = "PmenuSel",
        PmenuExtra = "Pmenu",
        PmenuExtraSel = "PmenuSel",
        PmenuSbar = "Pmenu",
        PmenuThumb = { fg = 0, bg = 7 },
        SpellBad = { fg = 9, bold = true, undercurl = true },
        SpellCap = { fg = 12, bold = true, undercurl = true },
        SpellLocal = { fg = 14, bold = true, undercurl = true },
        SpellRare = { fg = 13, bold = true, undercurl = true },
        Comment = { fg = 4 },
        Constant = { fg = 3 },
        String = "Constant",
        Character = "Constant",
        Number = "Constant",
        Boolean = "Constant",
        Float = "Constant",
        Identifier = { fg = 6 },
        Function = "Identifier",
        Statement = { fg = 5 },
        Conditional = "Statement",
        Repeat = "Statement",
        Label = "Statement",
        Operator = "Statement",
        Keyword = "Statement",
        Exception = "Statement",
        Underlined = { fg = 6, underline = true },
        Ignore = { fg = 0 },
        Error = { fg = 0, bg = 1, bold = true },
        Todo = { fg = 0, bg = 3, bold = true },
        PreProc = { fg = 4 },
        Include = "PreProc",
        Define = "PreProc",
        Macro = "PreProc",
        PreCondit = "PreProc",
        Type = { fg = 2 },
        StorageClass = "Type",
        Structure = "Type",
        Typedef = "Type",
        Special = { fg = 2, bold = true },
        SpecialChar = "Special",
        Tag = "Special",
        Delimiter = "Special",
        SpecialComment = "Special",
        Debug = "Special",
        Directory = { fg = 6 },
      },
    },
  },
}
